<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AddBlog</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="c_blog/BlogController.js"></script>
  <script src="assets/js/mycode.js"></script>
 
 <style>
.btn {
	background-color: Brown;
	border: none;
	color: black;
	padding: 10px 15px;
	font-size: 12px;
	cursor: pointer;
}

.btn:hover {
	background-color: blue;
}

body {
	margin: 0;
	padding: 0;
}

#forum-box {
	position: relative;
	margin: 5% auto;
	width: 700px;
	height: auto;
	min-hieght: 500px;
	border-radius: 2px;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
	background-color: rgb(68, 68, 68);
}
</style>

</head>
<body ng-app="myApp">
     <div class="container-fluid" id="forum-box" ng-controller="BlogController">
         <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Add/Create Blogs</h1>
               </div>
               <form role="form" method="post">
                   <div class="form-group">
                       <label for="blogName">Blog Name</label>
                       <input type="text" placeholder="Blog Name" name="blogName" ng-model="blog.blogName"
                       class="form-control input-lg" id="blogName">
                  </div>
                  <div class="form-group">
                       <label for="blogContent">Blog content</label>
                       <textarea rows="6" cols="24" class="form-control input-lg" id="blogContent" 
                       placeholder="Blog Content" name="blogContent" ng-model="blog.blogContent">  </textarea>
                       </div>
                     <button type="submit" class="btn btn-primary" value="Insert Blog" ng-click="insertBlog()">Submit</button>
                  
              </form>
               
            </div>
         
         </div>
     
     </div>

</body>
</html>