<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blog</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet">

<style>
.btn {
	background-color: Brown;
	border: none;
	color: black;
	padding: 10px 15px;
	font-size: 12px;
	cursor: pointer;
}

.btn:hover {
	background-color: blue;
}

body {
	margin: 0;
	padding: 0;
}

#forum-box {
	position: relative;
	margin: 5% auto;
	width: 700px;
	height: auto;
	min-hieght: 500px;
	border-radius: 2px;
	box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
	background-color: rgb(68, 68, 68);
}
</style>

</head>
<body ng-app="myApp">
	<div class="container-fluid" ng-controller="BlogController"
		id="forum-box">
		<div class="row">
			<div class="col-md-12">
				<form id="blogform" method="post">

					<h3>List of created Blog</h3>
					<table class="table table-bordered">
						<thead>

							<tr>
								<th>BlogName</th>
								<th>BlogContent</th>
								<th>Lokes</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="blog in blogData">
								<td>{{blog.blogName}}</td>
								<td>{{blog.blogContent}}</td>
								<td>{{blog.likes}}</td>
								<td><input type="submit" class="btn btn-primary"
									value="Likes" ng-click="incrementLike(blog.blogId)" /></td>
							</tr>
						</tbody>
					</table>
				</form>

			</div>

		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="c_blog/BlogController.js"></script>

	<script
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>

</body>
</html>